<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-2">Current Games</h1>
        <ul class="list-group" id="target-list">
          <p>You are currently not in any games. Find a game below to join.</p>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="display-2">Join a Game</h1>
        <ul class="list-group" id="new-games-list">
          <p>There are currently no open games in your area. Check back soon for more games</p>
        </ul>
      </div>
    </div>
  </div>

<script>
  function mainLoad(){
    $.get("/enroll/my?user_id=" + <%= user_id %>, function(data){
      var r = data.data;
      if(r.length > 0)
        $("#target-list").empty();
      r.forEach(function(e){
        console.log("THIS IS E");
        console.log(e);
        $("#target-list").append('<li class="list-group-item d-flex justify-content-between align-items-center">' + e.name + ' - ' + e.title + ' <button type="button" onclick="leaveGame(' + e.id + ')" class="btn btn-outline-danger">I Got Hit</button></li>');
      })
    })

    $.get("/enroll/joined?user_id=" + <%= user_id %>, function(data){
      var r = data.data;
      if(r.length > 0)
        $("#new-games-list").empty();
      var joinedGames = [];
      r.forEach(function(e){
        console.log(e);
        joinedGames.push(e.id);
        $("#new-games-list").append('<li class="list-group-item d-flex justify-content-between align-items-center">' + e.title + ' - ' + e.name + ' <button type="button" onclick="startGame(' + e.id + ')" class="btn btn-outline-success">Start Game</button> <button type="button" onclick="leaveGame(' + e.id + ')" class="btn btn-outline-warning">Leave</button></li>');
      })


      $.get("/game/open?user_id=" + <%= user_id %>, function(data){
        var r = data.data;
        r.forEach(function(e){
          console.log(e);
          if(joinedGames.indexOf(e.id) == -1) {
            $("#new-games-list").append('<li class="list-group-item d-flex justify-content-between align-items-center">' + e.title + ' - ' + e.name + ' <button type="button" onclick="joinGame(' + e.id + ')" class="btn btn-outline-success">Join</button></li>');
          }
        })
      })
    })

  }


function joinGame(id){
  $.post("/enroll/add?user_id=" + <%= user_id %> + "&game_id=" + id, function(data){
      mainLoad();
    })
  }

function leaveGame(id){
  $.post("/enroll/remove?user_id=" + <%= user_id %> + "&game_id=" + id, function(data){
      mainLoad();
    })
  }

function startGame(id){
  $.post("/game/start?id=" + id, function(data){
      mainLoad();
    })
  }

  mainLoad();


</script>

</body>
</html>
